:root {
  --text-color-default: #202A32;
  --text-color-inactive: #909599;
  --text-color-active: #B11227;
  --color-white: #FFFFFF;
  --underline-active: 1px dashed currentColor;
}

.page__main_white::before {
  background-color: var(--color-white);
}

/*Главная картинка + текст*/

.tabletop-accessories__intro {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 73px;
}

.intro__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  max-width: 560px;
}

/*Вкладки*/

.page__content .nav-tabs > li > a::before {
  background-color: transparent;
}

.page__content .tabletop-accessories__tabs > .nav-item > a {
  padding: 15px 20px;
  text-wrap: wrap;
}

.page__content .tabletop-accessories__tabs > .nav-item.active > a {
  background-color: #E0E7EE!important;
}

.tab__intro {
  display: flex;
  gap: 20px;
  margin-bottom: 80px;
}

.tab__intro .tab__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
}

.tab__text {
  font-size: 16px;
  line-height: 1.6;
  max-width: 515px;
}

/*Карточки товаров с текстом*/

.tab__cards {
  display: grid;
  gap: 80px 120px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 80px;
}

.card {
  max-width: 600px;
}

.card__img-wrapper {
  display: flex;
}

/*Сортировка + Кол-во карточек на странице*/

.sort-panel {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.sort-panel__text {
  color: var(--text-color-inactive);
}

.sort-by {
  display: flex;
  gap: 20px;
}

.sort-selected {
  margin-right: 5px;
}

.sort-selected, .cards-num {
  color: var(--text-color-active);
  border-bottom: var(--underline-active);
  cursor: pointer;
  position: relative;
}

.sort-selected .sort-options {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  display: none;
  position:absolute;
  top: 27px;
  left: 0;
  z-index: 2;
  background-color: #F9FAFA;
  box-shadow: -2px 3px 10px rgba(0, 0, 0, 0.2);
  color: #626B73;
  font-size: 14px;
  line-height: 26px;
  width: 120%;
}

.sort-selected:hover .sort-options {
  display: block;
}

.sort-selected img {
  transition: transform 0.5s;
}

.sort-selected:hover img {
  transform: rotate(180deg);
}

.cards-num_selected {
  color: var(--text-color-default);
  cursor: default;
}

.cards-to-show {
  display: flex;
  gap: 20px;
}

.cards-num:hover {
  border-bottom: none;
}

/*Каталог товаров*/

.catalogue-wrapper {
  margin-bottom: 60px;
  width: 100%;
}

.catalogue-wrapper_decor {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.catalogue {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-items: center;
  gap: 60px 56px;
  margin-bottom: 40px;
}

.catalogue-wrapper_decor .catalogue {
  gap: 30px;
}

.catalogue__item {
  display: flex;
  flex-direction: column;
  max-width: 184px;
  cursor: pointer;
  position: relative;
}

.item__icons-wrapper {
  position: absolute;
  top: 7px;
  left: 9px;
  display: flex;
  gap: 5px;
}

.item__icon {
  width: 30px;
  height: 30px;
  background-position: center;
}

.item__icon_offer {
  background-image: url(../img/icons/offer.svg);
}

.item__icon_discount {
  background-image: url(../img/icons/discount.svg);
}

.item__icon_new {
  background-image: url(../img/icons/new.svg);
}

.item__icon_combo {
  background-image: url(../img/icons/combo.svg);
}

.item__article {
  color: var(--text-color-inactive);
  font-size: 13px;
}

.item__title {
  font-weight: 500;
  font-size: 14px;
}

.catalogue__item:hover .item__title {
  color: var(--text-color-active);
  transition: color 0.5s;
}

/*Пагинация*/

.pages-panel {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 30px;
}

.page-nav {
  display: flex;
  gap: 10px;
}

.page__content .page-list {
  list-style: none;
  margin: 0 5px;
  padding: 0;
  display: flex;
  gap: 10px;
}

.arrow {
  cursor: pointer;
}

.arrow_right {
  transform: rotate(180deg);
}

.page-num {
  cursor: pointer;
  padding: 0 9px;
}

.page-num_active {
  border-radius: 50%;
  background-color: var(--text-color-active);
  color: var(--color-white);
  cursor: default;
}

.show-more {
  color: var(--text-color-active);
  border-bottom: var(--underline-active);
  text-decoration: none;
}

/*Выбор фильтров*/

.filter {
  padding: 30px 20px 40px;
  max-width: 320px;
  border: 1px solid #EAEAEA;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.08);
}

.filter .filter__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.filter__item input {
  display: none;
}

.filter__item label {
  font-weight: 400;
  user-select: none;
}

.filter__item label::before {
  content: url('../img/icons/checkbox.svg');
  margin-right: 10px;
}

.filter__item input:checked ~ label {
  color: var(--text-color-active);
}

.filter__item input:checked ~ label::before {
  content: url('../img/icons/checkbox_checked.svg');
}

.filter-result {
  width: 100%;
  background-color: #F9F9FC;
  padding: 14px;
  margin-bottom: 40px;
}

.filter-result__text {
  background-color: rgba(65, 84, 100, 0.1);
  padding: 5px 15px;
  margin: 10px;
  line-height: 2;
}

.filter-result__text img {
  margin-left: 5px;
  cursor: pointer;
}

/*Адаптив*/

@media (max-width: 1480px) {
  .intro__text {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .tabletop-accessories__intro {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .intro__text {
    max-width: 100%;
  }

  .tab__intro {
    flex-direction: column;
    align-items: center;
  }

  .tab__intro img {
    max-width: 50%;
  }

  .catalogue {
    gap: 20px;
  }

  .catalogue-wrapper_decor {
    flex-direction: column;
    align-items: center;
  }

  .filter {
    max-width: 100%;
  }
}

@media (max-width: 990px) {

  .intro__img {
    max-width: 100%;
  }

  .intro__text {
    font-size: 16px;
  }

  .tab__cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .sort-panel, .filter-result, .filter {
    font-size: 13px;
  }

  .filter {
    padding: 15px;
  }

  .filter__title {
    margin-bottom: 10px;
  }

  .cards-to-show, .sort-by {
    gap: 10px;
  }

  .card__text {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .tabletop-accessories__tabs {
    flex-direction: column;
    font-size: 13px;
  }

  .tab__intro .tab__title {
    font-size: 24px;
  }

  .tab__text {
    font-size: 13px;
  }

  .tab__intro img {
    max-width: 100%;
  }

  .sort-panel, .pages-panel {
    flex-direction: column;
    align-items: center;
  }

  .catalogue-wrapper {
    margin-bottom: 20px;
  }

  .card__img-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card__img-wrapper img {
    max-width: 50%;
  }
}

